@import "../../common/_variables";

.page-header {
	margin: 0;
	padding: 20px $page_margin;
	display: flex;
	background: $white;
    border-bottom: 1px solid;
    border-bottom-color: $signature_red;
    overflow: hidden;
	.signature {
	    font-size: 1.6rem;
	    cursor: pointer;
	}
}
.banner-wrapper {
    position: relative;
    overflow: hidden;
    .notification {
        position: fixed;
        z-index: 3;
        background-color: #343134;
        color: #fff;
        padding: 20px;
        text-align: right;
        min-width: 300px;
        width: 40%;
        display: flex;
        justify-content: flex-end;
        border-radius: 5px;
        border: 2px solid #e3e3e3;
        font-size: 0.8rem;
        top: 10px;
        right: -100%;
        left: auto;
        transition: all 1s ease;
        &.active {
            right: 0%;
        }
        .close-btn {
            cursor: pointer;
            transition: $transition_common;
            &:hover {
                color: $signature_red;
                transform: rotate(360deg);
            }
        }
        .content {
            flex: 1;
            display: inline-flex;
            justify-content: center;
        }
    }
}
.banner {
	padding: 20px $page_margin;
	display: flex;
	min-height: 700px;
	background-image: url('../../assets/images/banner-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.user-image {
		display: inline-block;
		height: 200px;
		width: 200px;
		border-radius: 50%;
		border: 1px solid $signature_red;
		background-image: url('../../assets/images/user-pic.jpg');
	    background-size: cover;
    	background-position: center center;
	    background-repeat: no-repeat;

	}
    
    h1 {
    	color: $white;
    	font-size: 3.125rem;
    	margin: 10px 0;
    	text-align: center;
    	.title {
    		font-family: 'Dancing Script';
    		@media #{$mobile} {
    			display: block;
    		}
    	}
    }
    
    h2 {
    	color: $grey;
    	font-size: 2.5rem;
        text-align: center;
    	margin: 10px 0;
    }

    .download-resume-btn {
    	color: $white;
    	border: 1px solid $signature_red;
    	padding: 10px;
    	margin-top: 10px;
    	border-radius: 20px;
    	cursor: pointer;
    	transition: $transition_common;
        text-decoration: none;
    	&:hover {
    		background-color: $signature_red;
    	}
    }
    .quote {
    	color: $white;
    	font-family: 'Dancing Script';
    	margin-top: 50px;
    	font-size: 1.2rem;
    }
    .small-desc {
        display: block;
        margin-top: 20px;
        color: $grey;
        text-align: center;
    }
}