.services {
  padding: 10px 8% 50px;
  box-sizing: border-box; }
  .services .service-wrapper {
    display: flex;
    flex-wrap: wrap; }
  .services .each-service {
    flex: 1;
    min-width: 33%;
    max-width: 33%;
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .services .each-service:nth-child(1), .services .each-service:nth-child(2), .services .each-service:nth-child(3) {
      border-bottom: 1px solid #a3a3a3; }
    .services .each-service:nth-child(1), .services .each-service:nth-child(4) {
      border-right: 1px solid #a3a3a3; }
    .services .each-service:nth-child(3), .services .each-service:nth-child(6) {
      border-left: 1px solid #a3a3a3; }
    .services .each-service .fas, .services .each-service .far {
      font-size: 2.5rem;
      transition: all 0.8s ease-out;
      color: #E52E2D; }
    .services .each-service p {
      text-align: center; }
    @media (min-width: 641px) and (max-width: 1023px) {
      .services .each-service {
        min-width: 50%;
        max-width: 50%; }
        .services .each-service:nth-child(4) {
          border-bottom: 1px solid #a3a3a3; } }
    @media (min-width: 320px) and (max-width: 640px) {
      .services .each-service {
        min-width: 100%;
        max-width: 100%;
        border: 0px solid; }
        .services .each-service:not(:last-child) {
          border-bottom: 1px solid #a3a3a3 !important; }
        .services .each-service:nth-child(even) {
          border-right: 1px solid #a3a3a3 !important; }
        .services .each-service:nth-child(odd) {
          border-left: 1px solid #a3a3a3 !important; }
        .services .each-service:first-child {
          border-width: 0px 0px 1px 0px !important; }
        .services .each-service:last-child {
          border-width: 0px 0px 0px 0px !important; } }
  .services.viewed .fas, .services.viewed .far {
    font-size: 2.5rem;
    transform: rotate(720deg); }
