@import "../../common/_variables";

.services {
	padding: 10px $page_margin 50px;
	box-sizing: border-box;
	.service-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	.each-service {
		flex: 1;
		min-width: 33%;
		max-width: 33%;
		padding: 35px 25px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&:nth-child(1),&:nth-child(2),&:nth-child(3) {
			border-bottom: 1px solid $grey;
		}
		&:nth-child(1),&:nth-child(4) {
			border-right: 1px solid $grey;
		}
		&:nth-child(3),&:nth-child(6) {
			border-left: 1px solid $grey;
		}

		.fas, .far {
			font-size: 40px;
			color: $signature_red;
		}
		p {
			text-align: center;
		}
	}
}