@import "../../common/_variables";

.about-me {
	padding: 50px $page_margin 20px;
	display: flex;
	.each-section {
		flex: 1;
		min-width: 50%;
		max-width: 50%;

		.content {
		    line-height: 1.8;
		    font-size: 16px;
		    text-align: justify;
		    padding-right: 50px;
		}
	}
	.experience {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				line-height: 1.8;
		    	font-size: 16px;
		    	text-align: justify;
		    	&.company-name {
		    		font-weight: bold;
		    		font-size: 18px;
		    	}
			}
		}
		ol {
			margin-top: 15px;
		    list-style: circle;
		}
	}
	.highlight {
		color: $signature_red;
		font-weight: bold;
	}
}