@import "../../common/_variables";

.about-me {
	padding: 50px $page_margin 20px;
	display: flex;

	.each-section {
		flex: 1;
		min-width: 50%;
		max-width: 50%;

		.focus {
			h2 {
				font-size: 1.5rem;
			}
		}

		.content {
			line-height: 1.8;
			font-size: $usual;
			text-align: justify;

			.highlight {
				font-size: $xxlarge;
			}
		}

		&:first-child {
			padding-right: 25px;
		}

		&:last-child {
			padding-left: 25px;
		}
	}

	.highlight {
		font-weight: bold;
		transition: $comp_load_transition;
	}

	@media #{$mobile} {
		flex-direction: column;

		.each-section {
			min-width: 100%;
			max-width: 100%;

			&:first-child {
				padding-right: 0;
				border-bottom: 1px solid $grey;
				margin-bottom: 10px;
				padding-bottom: 30px;
			}

			&:last-child {
				padding-left: 0;
			}

			.content {
				padding-right: 0;
			}
		}
	}

	&.viewed {
		.highlight {
			color: $signature_red;
			font-size: 1.4rem;
		}
	}
}

// @keyframes colors {
// 	0% {
// 		filter: hue-rotate(0deg);
// 	}
// 	100% {
// 		filter: hue-rotate(360deg);
// 	}
// }

// .cursor {
// 	position: fixed;
// 	display: inline-block;
// 	width: 20px;
// 	height: 20px;
// 	border-radius: 50%;
// 	z-index: 2;
// 	background-color: #2696E8;
// 	pointer-events: none;
// 	box-shadow: 0 0 20px #2696E8, 0 0 60px #2696E8, 0 0 100px #2696E8;
// 	animation: colors 5s infinite;
// 	transform: translate(-50%, -50%);
// 	visibility: visible;

// 	&::before {
// 		content: '';
// 		position: absolute;
// 		width: 50px;
// 		height: 50px;
// 		opacity: 0.2;
// 		transform: translate(-30%, -30%);
// 		border-radius: 50%;

// 	}
// }
.about-me-wrapper {
	position: relative;

	.animationWrapper {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

.ants {
	fill: black;
	width: 15px;
	height: 25px;
	position: absolute;
}

#ant1 {
	left: 50%;
	bottom: -60%;
	animation: ant-1-animation 15s infinite;
}

#ant2 {
	left: 0;
	bottom: -50%;
	animation: ant-2-animation 17s infinite;
}

#ant3 {
	left: 100%;
	bottom: -70%;
	animation: ant-3-animation 18s infinite;
	animation-delay: 1s;
}

#ant4 {
	left: 0;
	bottom: -50%;
	animation: ant-2-animation 20s infinite;
	animation-delay: 1s;
}

// ANT-IMATIONS
@keyframes ant-1-animation {
	0% {
		left: 50%;
		bottom: -60%;
	}

	10% {
		left: 50%;
		bottom: 5%;
		transform: rotate(0deg);
	}

	12% {
		left: 50%;
		bottom: 5%;
		transform: rotate(-90deg);
	}

	18% {
		transform: rotate(-90deg);
	}

	20% {
		left: 5%;
		bottom: 5%;
		transform: rotate(-90deg);
	}

	22% {
		transform: rotate(0);
	}

	32% {
		transform: rotate(0);
	}

	38% {
		left: 5%;
		bottom: 87%;
		transform: rotate(90deg);
	}

	50% {
		left: 90%;
		bottom: 87%;
		transform: rotate(90deg);
	}

	55% {
		left: 90%;
		bottom: 87%;
		transform: rotate(230deg);
	}

	72% {
		left: 5%;
		bottom: 5%;
		transform: rotate(230deg);
	}

	78% {
		left: 5%;
		bottom: 5%;
		transform: rotate(90deg);
	}

	85% {
		left: 50%;
		bottom: 5%;
		transform: rotate(90deg);
	}

	90% {
		left: 50%;
		bottom: 5%;
		transform: rotate(180deg);
	}

	100% {
		left: 50%;
		bottom: -60%;
		transform: rotate(180deg);
	}
}

// ANT 2
@keyframes ant-2-animation {
	0% {
		left: 0;
		bottom: -50%;
		transform: rotate(45deg);
	}

	15% {
		left: 50%;
		bottom: 5%;
		transform: rotate(45deg);
	}

	18% {
		left: 50%;
		bottom: 5%;
		transform: rotate(90deg);
	}

	28% {
		left: 85%;
		bottom: 5%;
		transform: rotate(90deg);
	}

	30% {
		left: 85%;
		bottom: 5%;
		transform: rotate(0deg);
	}

	40% {
		left: 85%;
		bottom: 85%;
		transform: rotate(0deg);
	}

	48% {
		left: 85%;
		bottom: 85%;
		transform: rotate(-90deg);
	}

	58% {
		left: 5%;
		bottom: 85%;
		transform: rotate(-90deg);
	}

	68% {
		left: 5%;
		bottom: 85%;
		transform: rotate(-180deg);
	}

	79% {
		left: 5%;
		bottom: 5%;
		transform: rotate(-180deg);
	}

	81% {
		left: 5%;
		bottom: 5%;
		transform: rotate(-270deg);
	}

	88% {
		left: 50%;
		bottom: 5%;
		transform: rotate(-270deg);
	}

	90% {
		left: 50%;
		bottom: 5%;
		transform: rotate(-140deg);
	}

	100% {
		left: 0%;
		bottom: -50%;
		transform: rotate(-140deg);
	}
}

// ANT 3
@keyframes ant-3-animation {
	0% {
		left: 100%;
		bottom: -70%;
		transform: rotate(-45deg);
	}

	15% {
		left: 50%;
		bottom: -15%;
		transform: rotate(-45deg);
	}

	18% {
		left: 50%;
		bottom: -15%;
		transform: rotate(-90deg);
	}

	28% {
		left: -10%;
		bottom: -15%;
		transform: rotate(-90deg);
	}

	30% {
		left: -10%;
		bottom: -15%;
		transform: rotate(0deg);
	}

	45% {
		left: -10%;
		bottom: 105%;
		transform: rotate(0deg);
	}

	48% {
		left: -10%;
		bottom: 105%;
		transform: rotate(90deg);
	}

	58% {
		left: 100%;
		bottom: 105%;
		transform: rotate(90deg);
	}

	60% {
		left: 100%;
		bottom: 105%;
		transform: rotate(180deg);
	}

	75% {
		left: 100%;
		bottom: -15%;
		transform: rotate(180deg);
	}

	81% {
		left: 100%;
		bottom: -15%;
		transform: rotate(270deg);
	}

	88% {
		left: 50%;
		bottom: -15%;
		transform: rotate(270deg);
	}

	90% {
		left: 50%;
		bottom: -15%;
		transform: rotate(180deg);
	}

	92% {
		left: 50%;
		bottom: -15%;
		transform: rotate(130deg);
	}

	100% {
		left: 100%;
		bottom: -70%;
		transform: rotate(130deg);
	}
}