@import "./common/_variables";

.signature {
    font-weight: bold;
    color: $signature_red;
    font-family: 'Dancing Script', cursive;
}
.even {
	background-color: $even_bg;
}
.odd {
	background-color: $white;
}
.section-heading {
	text-align: center;
	font-size: 50px;
}

div, span, p, h1, h2, h3, h4, h5, h6, section {
	box-sizing: border-box;
}