@import "./common/_variables";

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;

	@media #{$mobile} {
		font-size: 14px;
	}
}

.signature {
	font-weight: bold;
	color: $signature_red;
	font-family: 'Dancing Script', cursive;
	font-size: 2rem;
}

.even {
	background-color: $even_bg;
}

.odd {
	background-color: $white;
}

.section-heading {
	text-align: center;
	font-size: 3rem;
}

div,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
section {
	box-sizing: border-box;
}