.signature {
  font-weight: bold;
  color: #E52E2D;
  font-family: 'Dancing Script', cursive; }

.even {
  background-color: #f8f9fa; }

.odd {
  background-color: #fff; }

.section-heading {
  text-align: center;
  font-size: 50px; }

div, span, p, h1, h2, h3, h4, h5, h6, section {
  box-sizing: border-box; }
