@import "../../common/_variables";

.contact-me {
	padding: 10px $page_margin 50px;
}

.experience {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			line-height: 1.8;
	    	text-align: justify;
	    	&.company-name {
	    		font-weight: bold;
	    		font-size: $xlarge;
	    	}
		}
	}
	ol {
		margin-top: 15px;
		font-size: $usual;
	    list-style: circle;
	}
}